/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Bebas Neue Regular";
  src: url('/stylesheets/fonts/../../static/fonts/ttf/BebasNeueRegular.ttf') format('truetype'), url('/stylesheets/fonts/../../static/fonts/ttf/BebasNeue_ Regular.otf') format('opentype');
}

@font-face {
  font-family: "Bebas Neue Book";
  src: url('/stylesheets/fonts/../../static/fonts/ttf/BebasNeueBook.ttf') format('truetype'), url('/stylesheets/fonts/../../static/fonts/ttf/BebasNeue_ Book.otf') format('opentype');
}

/* line 37, ../sass/screen.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 42, ../sass/screen.scss */
a {
  font-family: "Varela Round", sans-serif;
  color: #252525;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 46, ../sass/screen.scss */
a:hover {
  text-decoration: none;
  color: #f4412f !important;
}

/* line 52, ../sass/screen.scss */
body {
  background-color: white;
  margin-bottom: 214px;
}

/* line 57, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Bebas Neue Regular";
}

/* line 61, ../sass/screen.scss */
h1 {
  font-size: 30px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

/* line 67, ../sass/screen.scss */
h4 {
  font-size: 25px;
}

/* line 71, ../sass/screen.scss */
input {
  border-radius: 0px !important;
  text-transform: uppercase;
  font-family: "Hammersmith One", sans-serif;
}

/* line 77, ../sass/screen.scss */
p {
  font-family: "Varela Round", sans-serif;
  color: #252525;
}

/* line 82, ../sass/screen.scss */
nav {
  max-width: auto;
  margin: 0 auto;
  background-color: white !important;
  border-bottom: 2px solid #d8476a !important;
}
/* line 87, ../sass/screen.scss */
nav a {
  font-family: "Bebas Neue Regular";
  font-size: 18px;
}
/* line 91, ../sass/screen.scss */
nav .tituloPagina {
  font-family: "Bebas Neue Regular" !important;
  color: #f55f2a !important;
  font-size: 30px;
  font-weight: 400;
}

/* line 99, ../sass/screen.scss */
footer {
  border-top: 2px solid #d8476a;
  background-color: #f1f1f1;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 214px;
}
/* line 106, ../sass/screen.scss */
footer .footer {
  max-width: auto;
  margin: 0 auto;
  padding: 10px;
}
/* line 111, ../sass/screen.scss */
footer .footer .logo {
  max-height: 100px;
  margin: 0 auto;
}
/* line 115, ../sass/screen.scss */
footer a {
  font-family: "Bebas Neue Regular";
  font-size: 18px;
}

/* line 121, ../sass/screen.scss */
select {
  border-radius: 0px !important;
  font-family: "Hammersmith One", sans-serif;
}

/* line 126, ../sass/screen.scss */
textarea {
  border-radius: 0px !important;
  font-family: "Hammersmith One", sans-serif;
  resize: none;
}

/* line 132, ../sass/screen.scss */
.btn {
  border-radius: 0px !important;
  background-color: #f4412f;
  color: white;
  border: none;
  font-family: "Hammersmith One", sans-serif;
  text-transform: uppercase;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 140, ../sass/screen.scss */
.btn:hover {
  background-color: #282829;
  color: #fff;
}

/* line 146, ../sass/screen.scss */
.clickForRegister {
  color: #f4412f !important;
}

/* line 150, ../sass/screen.scss */
.container {
  padding-top: 70px;
  padding-bottom: 10px;
  max-width: auto;
}

/* line 156, ../sass/screen.scss */
.formularioSeleccion {
  padding: 10px;
  margin: 0 auto;
}

/* line 161, ../sass/screen.scss */
.modalLogin {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

/* line 165, ../sass/screen.scss */
.separate {
  height: 10px;
}

/* line 171, ../sass/screen.scss */
.homeImage {
  background-image: url(../../static/img/cocina.gif);
  height: 600px;
  position: relative;
  z-index: 1;
}

/* line 179, ../sass/screen.scss */
.homeFormulario {
  position: absolute;
  z-index: 1000;
  top: 40%;
  left: 15%;
}

/* line 186, ../sass/screen.scss */
.titleOfHome {
  font-size: 40px;
  padding-bottom: 10px;
  color: #ccccc;
}

/* line 194, ../sass/screen.scss */
#registroComercio h1 {
  padding-top: 25px;
  padding-bottom: 10px;
  color: #ccccc;
}
/* line 199, ../sass/screen.scss */
#registroComercio h2 {
  padding-bottom: 10px;
  font-size: 25px;
}
/* line 203, ../sass/screen.scss */
#registroComercio li {
  list-style-type: circle;
  line-height: 20px;
}
/* line 207, ../sass/screen.scss */
#registroComercio p {
  line-height: 28px;
}
/* line 210, ../sass/screen.scss */
#registroComercio label {
  padding-bottom: 10px;
}
/* line 213, ../sass/screen.scss */
#registroComercio .barraImagen {
  min-height: 100px;
  background-image: url(../../static/img/guglieri-speciale.jpg);
}

/* line 221, ../sass/screen.scss */
#contacto .genteBar {
  min-height: 100px;
  background-image: url(../../static/img/naranjas.png);
}
