{% extends "layout.html" %}
{% load staticfiles %}

{% block extraHead %}

{% endblock %}


{% block content %}

<div class="homeImage">
  <div class="formularioSeleccion text-center homeFormulario">
    <h1 class="text-center titleOfHome">Bares, Restaurant, Delivery</h1>
    <p class="small text-center">Todo lo que buscas lo podes encontrar en Que Como La Plata</p>
    <div class="separate"></div>
    <form class="form-inline" role="form">
      <div class="form-group">
        <label class="sr-only hidden" for="">Direccion</label>
        <input type="text" class="form-control input-lg" id="exampleInputEmail2" placeholder="Direccion">
      </div>
      <div class="form-group">
        <label class="sr-only hidden" for="">Barrio</label>
        <select name="" id="" class="form-control input-lg">
          <option value="">Barrio</option>
        </select>
      </div>
      <div class="form-group">
        <label class="sr-only" for="">Que tenes ganas de hacer</label>
        <select name="" id="" class="form-control input-lg">
          <option value="">Salir a comer</option>
          <option>Pedir delivery</option>
        </select>
      </div>
      <div class="form-group">
        <label class="sr-only" for="">Categoria</label>
        <select name="" id="" class="form-control input-lg">
          <option value="">Cantidad estrellas</option>
        </select>
      </div>
      <button type="submit" class="btn btn-default btn-lg">Buscar</button>
    </form>
  </div>
</div>


<!--Formulario -->


{% endblock %}